@model LearnWordsFast.DAL.Models.Word

@{
    ViewBag.Title = "Practice Words";
}

@if (Model == null)
{
    <h2>Nothing to learn yet</h2>
    <h4><a asp-action="Add">Add new words</a> or wait until other are ready for training</h4>
}
else
{
    <p>Practice word.</p><h2> @Model.Original</h2>
    <h3>Translation: @Model.Translation</h3>
    <form asp-action="PracticeFinished" asp-controller="Word">
        <input type="hidden" asp-for="Id"/>
        <input type="text"/>
        <br/>
        <input type="submit" value="Next"/>
    </form>
}