src/.vs/
src/LearnWordsFast/wwwroot/bin/
src/LearnWordsFast/logs/
*.user
*.lock.json
/.vs
src/LearnWordsFast/node_modules/
src/artifacts/bin/LearnWordsFast/Release/PublishOutput/wwwroot/lib/bootstrap/less/carousel.less
src/artifacts/
src/LearnWordsFast/wwwroot/js/site.all.js
