src/.vs/
src/LearnWordsFast/logs/
*.user
*.lock.json
/.vs
src/LearnWordsFast/node_modules/
src/artifacts/bin/LearnWordsFast/Release/PublishOutput/wwwroot/lib/bootstrap/less/carousel.less
src/artifacts/
src/LearnWordsFast/wwwroot/
.idea

artifacts/
src/LearnWordsFast.API/learnwordsfast.db
src/LearnWordsFast.DAL.EF/bin/
src/LearnWordsFast.DAL/bin/
src/LearnWordsFast.API/bin/
src/LearnWordsFast.API/obj/
src/LearnWordsFast.DAL.EF/obj/
src/LearnWordsFast.DAL.NHibernate/obj/
src/LearnWordsFast.DAL/obj/Debug/netcoreapp1.0/.IncrementalCache
src/LearnWordsFast.DAL/obj/
src/LearnWordsFast/bin/
src/LearnWordsFast/obj/
test/LearnWordsFast.Test/obj/
.vscode/
