@model LearnWordsFast.Models.WordList
@{
// ViewBag.Title = "Home Page";
}
<html>
<head>
    <title>Learn Words Fast</title>
</head>
<body>
    <ul>
        @{
            foreach (var word in Model.Words)
            {
                <li>@word.Original -> @word.Translation</li>
            }
        }
    </ul>
<a href="@Url.Action("Add", "Word")">Add word</a>
@Html.ActionLink("Practice words", "Practice", "Word")
</body>
</html>