@using System.Collections.Generic
@using LearnWordsFast.DAL.Models

@model List<Word>

@{
    ViewBag.Title = "Home";
}

    <ul>
        @{
            foreach (var word in Model)
            {
                <li>@word.Original -> @word.Translation</li>
            }
        }
    </ul> 