@using System.Collections.Generic
@using LearnWordsFast.DAL.Models

@model List<Word>

@{
    ViewBag.Title = "Home";
}
<div class="text-center">
    @foreach (var word in Model)
    {
        <h3>@word.Original <small> @word.Translation</small></h3>
    }
</div>